.main {
  display: block;
	padding: 30px;
	padding-top:40px;
	width:90%;
}

.custom-menu-item > a{
	cursor: pointer;
	color: black;
}

.menu-link {
	color: black;
}

.nav > .active {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}

.btn {
  margin-right : 10px;
  cursor: pointer;
}

.checkPointBox {
  width: 20px;
  height: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.small-select {
  height: 50px !important;
}

.validation-error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.error {
  border-color: red !important;
}

.required.label:after {
  content: ' *';
}

.label {
  display: inline-block;
  max-width: 100%;
  margin-top: 5px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

.wrapper:after {
  height: 90px;
  content: "";
  display: block;
}

.modal-dialog {
  max-width: 800px !important;
}

.background-login {
  margin-top: -56px;
  background-size: 100%;
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-style {
  color: dimgray;
}

.modal-dialog-login {
  width: 400px !important;
}

.modal-content-login {
  margin: auto;
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.modal-action-dialog {
  width: 350px !important;
  opacity: 0;
  z-index: 1;
  bottom: 60px;
  left: 30px;
  position: fixed;
}

.modal-action-content {
  margin: auto;
  margin-top: 40px;
  background-color: #0a6028;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.header-login {
  z-index: 1;
  margin-bottom: 0;
}
