<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<form action="#" th:action="@{/save-user}" th:object="${user}" method="post" enctype="multipart/form-data" id="saveForm">
    <table>
        <input type="hidden" th:field="*{idUser}"/>
        <tr>
            <td>name</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error message</td>
        </tr>
        <tr>
            <td>surname</td>
            <td><input type="text" th:field="*{surname}"/></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error message</td>
        </tr>
        <tr>
            <td>patronymic</td>
            <td><input type="text" th:field="*{patronymic}"/></td>
            <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">patronymic error message</td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error message</td>
        </tr>
        <tr>
            <td>city</td>
            <td><input type="text" th:field="*{city}"/></td>
            <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city error message</td>
        </tr>
        <tr>
            <td>street</td>
            <td><input type="text" th:field="*{street}"/></td>
            <td th:if="${#fields.hasErrors('street')}" th:errors="*{street}">street error message</td>
        </tr>
        <tr>
            <td>house</td>
            <td><input type="text" th:field="*{house}"/></td>
            <td th:if="${#fields.hasErrors('house')}" th:errors="*{house}">house error message</td>
        </tr>
        <tr>
            <td>flat</td>
            <td><input type="text" th:field="*{flat}"/></td>
            <td th:if="${#fields.hasErrors('flat')}" th:errors="*{flat}">flat error message</td>
        </tr>
        <tr>
            <td>login</td>
            <td><input type="text" th:field="*{login}"/></td>
            <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login error message</td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error message</td>
        </tr>

        <tr>
            <td>salt</td>
            <td><input type="text" th:field="*{salt}"/></td>
            <td th:if="${#fields.hasErrors('salt')}" th:errors="*{salt}">salt error message</td>
        </tr>
        <tr>
            <td>trucking company</td>
            <td><select th:field="*{truckingCompany}" th:remove="all-but-first">
                <option th:each="company : ${truckingCompanies}"
                        th:value="${company.id}" th:text="${company.name}">hhhh</option>
            </select></td>

        </tr>
        <tr>
            <td>user role</td>
            <td><select th:field="*{userRole}" th:remove="all-but-first">
                <option th:each="role : ${roles}"
                        th:value="${role.idUserRole}" th:text="${role.userRoleDescription}">hhhh</option>
            </select></td>

        </tr>
    </table>
    <input type="submit" value="save"/>
</form>
</body>
</html>